
.icon-dot:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-resize-full:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */